.card {
  min-height: 60px;
  width: 100%;
  padding: 5px;
  color: white;
  cursor: grab;
}

p {
  margin-bottom: 5px;
}

.options{
  display: flex;
  justify-content: flex-end;
}

.card-controll{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  min-width: 20px;
  height: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  &:hover .img {
    opacity: 1;
  }
  &:hover .count{
    color: rgba(0, 0, 0, 1);
  }
  .img {
    width: 15px;
    height: 15px;
    opacity: 0.3;
    margin-right: 2px;
  }
}

.liked{
  .img{
    opacity: 1;
  }
  .count{
    color: rgba(0, 0, 0, 1);
  }
}

.add-comment{
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  &-text{
    width: 100%;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    border-radius: 5px;
    color: white;
    font-weight: 300;

  }
}

.controll {
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  &.confirm {
    color: white;
    &:hover {
      border: 1px solid white;
    }
  }
}