<div class="card d-flex flex-column justify-content-between" *ngIf="!editMode" [ngStyle]="{'backgroundColor': color}"
    cdkDrag>
    <p class="card-text">{{ card.text }}</p>
    <div class="options">
        <div class="card-controll" (click)="editMode = true">
            <img src="../../../assets/icons/edit-icon.svg" class="img">
        </div>
        <div class="card-controll" (click)="deleteCard()">
            <img src="../../../assets/icons/icon_delete.svg" class="img">
        </div>
        <div class=" card-controll" (click)="like()" [ngClass]="{'liked': liked}">
            <img src="../../../assets/icons/like-icon.svg" class="img" >
            <span class="count">{{ card.likes.length }}</span>
        </div>
        <div class="card-controll" (click)="openComments = !openComments">
            <img src="../../../assets/icons/comments-icon.svg" class="img">
            <span class="count">{{ card.comments.length }}</span>
        </div>
    </div>
    <div class="comments-block" *ngIf="openComments">
        <div class="add-comment">
            <textarea name="commentText" class="add-comment-text" [(ngModel)]="commentText" autosize [minRows]="1"
                placeholder="Enter your comment..."></textarea>
            <div class="btns d-flex justify-content-end">
                <div class="controll confirm" (click)="addComment()">&#10004;</div>
            </div>
        </div>
        <div class="comments">
            <app-comment *ngFor="let comment of card.comments" [comment]="comment"
                (editCommentEvent)="editComment($event)" (deleteCommentEvent)="deleteComment($event)"></app-comment>
        </div>
    </div>
</div>
<app-card-editor *ngIf="editMode" [color]="color" [text]="card.text" (cancelEvent)="cancelEditing()"
    (confirmEvent)="editCard($event)">
</app-card-editor>