<div class="add-comment">
    <textarea name="commentText" class="add-comment-text" [(ngModel)]="comment.text" autosize [minRows]="1"
        placeholder="Enter your comment..."></textarea>
    <div class="btns d-flex justify-content-end">
        <div class="controll cancel" (click)="cancel()">&#10006;</div>
        <div class="controll confirm" (click)="editComment()">&#10004;</div>
    </div>
</div>
