.add-comment {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  &-text {
    width: 100%;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    border-radius: 5px;
    color: white;
    font-weight: 300;
  }
}

.controll {
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  &.confirm {
    color: white;
    &:hover {
      border: 1px solid white;
    }
  }
  &.cancel {
    color: white;
    &:hover {
      border: 1px solid white;
    }
  }
}
