<div class="container">
    <form class="register">
        <p class="title">Register</p>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password">
        </div>
        <div class="invalid" *ngIf="invalid">Please, enter valid data</div>
        <button type="button" class="btn btn-primary" (click)="register()">Register</button>
    </form>
    <p>Have an account? <a class="link" [routerLink]="['/login']">Login</a></p>
</div>
