<div class="container">
    <div class="add-board" (click)="openModal(template)">
        <div class="add-circle">+</div>
        <p>Add board</p>
    </div>
    <div class="board" *ngFor="let board of boards" (click)="goToBoard(board)">
        <div class="image">
            <img src="../../../assets/RetroBoard.png" alt="board">
        </div>
        <p class="name">{{ board.name }}</p>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add new board</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="boardName" class="form-label">Board name</label>
          <input type="text" class="form-control" id="boardName" [(ngModel)]="boardName" name="boardName">
        </div>
        <button type="button" class="btn btn-danger mr-2" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addBoard()">Add</button>
      </form>
    </div>
  </ng-template>