:host{
    height: 100%;
    background-color: rgb(240, 240, 240);
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.add-board{
    width: 31%;
    height: 200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed gray;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    .add-circle{
        width: 80px;
        height: 80px;
        margin-bottom: 5px;
        border-radius: 50%;
        background-color: rgb(151, 151, 151);
        font-size: 30px;
        color: gray;
        text-align: center;
        line-height: 76px;
        transition: .3s;
    }
    p{
        transition: .3s;
    }
    &:hover{
        border-color: blue;
        .add-circle{
            background-color: blue;
            color: white
        }
        p{
            color: blue;
        }
    }
}

.board{
    width: 31%;
    height: 200px;
    margin: 20px auto;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
    &:hover{
        border-color: blue;
        box-shadow: 0 0 3px blue;
    }
    .image{
        height: 160px;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .name{
        height: 40px;
        text-align: center;
        line-height: 40px;
        background-color: white;
    }
}