<header>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">RetroBoard</a>
      <div *ngIf="authorized">
        <button type="button" class="btn btn-danger" (click)="logout()">LogOut</button>
      </div>
    </div>
  </nav>
</header>