<app-comment-view *ngIf="!editMode" [comment]="comment" (switchToEditEvent)="editMode = true"
    (deleteCommentEvent)="deleteComment()"></app-comment-view>
<app-comment-edit *ngIf="editMode" [comment]="comment" (editCommentEvent)="editComment($event)"
    (cancelEditingEvent)="editMode = false"></app-comment-edit>