<div class="comment">
    <p>{{ comment.text }}</p>
    <div class="d-flex justify-content-end">
        <div class="card-controll" (click)="switchToEdit()">
            <img src="../../../../assets/icons/edit-icon.svg" class="img">
        </div>
        <div class="card-controll" (click)="deleteComment()">
            <img src="../../../../assets/icons/icon_delete.svg" class="img">
        </div>
    </div>
</div>