.comment{
    margin: 10px 0;
    padding: 0 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: white;
    font-weight: 200;
    p{
        font-weight: 300;
    }
}

.card-controll{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
    &:hover .img {
      opacity: 1;
    }
    .img {
      width: 15px;
      height: 15px;
      opacity: 0.3;
    }
  }