<div class="options px-4">
  <button type="button" class="btn btn-primary" (click)="openModal(template)">Add new column</button>
</div>
<div class="columns d-flex p-3">
  <app-column *ngFor="let column of board?.columns" [column]="column" (addCardEvent)="addCard($event, column)"
    (deleteColumnEvent)="deleteColumn($event)" (changeColorEvent)="changeColor($event, column)"
    (deleteCardEvent)="deleteCard($event, column)" (editNameEvent)="editName($event, column)"
    (editCardEvent)="editCard($event, column)" cdkDropList [id]="column.name" [cdkDropListData]="column.cards"
    [cdkDropListConnectedTo]="listConnectedTo" (cdkDropListDropped)="drop($event, column)"
    (addCommentEvent)="addComment($event, column)" (editCommentEvent)="editComment($event, column)"
    (deleteCommentEvent)="deleteComment($event, column)" (likeEvent)="like($event, column)">
  </app-column>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add new column</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="columnName" class="form-label">Column name</label>
        <input type="text" class="form-control" id="columnName" [(ngModel)]="columnName" name="columnName">
      </div>
      <button type="button" class="btn btn-danger mr-2" (click)="closeModal()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="addColumn()">Add</button>
    </form>
  </div>
</ng-template>