:host { 
    height: 100%;
    background-color: rgb(240, 240, 240);
}

.options{
    height: 50px;
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}


