<div class="card" [ngStyle]="{'borderColor': color}">
    <textarea name="text" class="card-text" [(ngModel)]="text" autosize [minRows]="1"></textarea>
    <div class="d-flex justify-content-end">
        <div class="controll cancel" (click)="cancel()">&#10006;</div>
        <div class="controll confirm" (click)="confirm()">&#10004;</div>
    </div>
</div>
