:host {
  height: 60px;
}

.card {
  min-height: 60px;
  border: 2px solid;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}

.card-text {
  display: block;
  padding: 5px;
  width: 100%;
  overflow: hidden;
  resize: none;
  min-height: 40px;
  outline: none;
  border: none;
}

.controll {
  margin: 0 2px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  color: gray;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  &.confirm {
    color: green;
    &:hover {
      border: 1px solid green;
    }
  }
  &.cancel {
    color: gray;
    &:hover {
      border: 1px solid gray;
    }
  }
}
