<div class="d-flex justify-content-between px-2" *ngIf="!editNameMode">
    <div class="column-title d-flex align-items-center">
        <div class="color-picker">
            <div class="color-selected" [ngStyle]="{'backgroundColor': column.color}"></div>
            <div class="color-box">
                <div class="color" *ngFor="let color of columnColors" [ngStyle]="{'backgroundColor': color}"
                    (click)="changeColor(color)"></div>
            </div>
        </div>
        <div class="column-name" (click)="editNameModeOn()">{{ column.name }}</div>
    </div>
    <div class="column-controls">
        <div class="delete-column d-flex justify-content-center align-items-center" (click)="deleteColumn(column)">
            <img src="../../../assets/icons/icon_delete.svg" class="img-delete">
        </div>
    </div>
</div>
<div *ngIf="editNameMode" class="edit-column-name">
    <input type="text" name="columnName" [(ngModel)]="columnName">
    <div class="d-flex">
        <div class="controll cancel" (click)="editNameMode = false">&#10006;</div>
        <div class="controll confirm" (click)="editName()">&#10004;</div>
    </div>
</div>
<button type="button" class="btn btn-add-card" (click)="createCard = true">+</button>
<app-card-editor *ngIf="createCard" [color]="column.color" [text]="''" (cancelEvent)="cancelAdding()"
    (confirmEvent)="addCard($event)">
</app-card-editor>
<div class="cards">
    <app-card *ngFor="let card of column.cards" [card]="card" [color]="column.color"
        (deleteCardEvent)="deleteCard(card)" (editCardEvent)="editCard($event, card)"
        (addCommentEvent)="addComment($event, card)" (editCommentEvent)="editComment($event, card)"
        (deleteCommentEvent)="deleteComment($event, card)" (likeEvent)="like(card)" class="card"></app-card>
</div>