:host {
  margin: 5px;
  flex: 1;
}

.color-picker {
  position: relative;
  margin-right: 5px;
  .color-selected {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    cursor: pointer;
  }
  .color-box {
    display: none;
    position: absolute;
    top: 15px;
    left: 0;
    width: 150px;
    height: 30px;
    padding: 10px 5px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 3px gray;
    .color {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  &:hover {
    .color-box {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

.column-name {
  font-size: 18px;
  font-weight: bold;
  color: rgb(90, 90, 90);
}

.edit-column-name {
  width: 100%;
  padding: 2px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid blue;
  border-radius: 5px;
  input {
    border: none;
    outline: none;
    background-color: transparent;
  }
}

.controll {
  margin: 0 2px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  color: gray;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  &.confirm {
    color: green;
    &:hover {
      border: 1px solid green;
    }
  }
  &.cancel {
    color: gray;
    &:hover {
      border: 1px solid gray;
    }
  }
}

.delete-column {
  width: 20px;
  height: 20px;
  cursor: pointer;
  &:hover .img-delete {
    opacity: 0.7;
  }
  .img-delete {
    width: 15px;
    height: 15px;
    opacity: 0.4;
  }
}

.btn-add-card {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0;
  background-color: rgb(220, 220, 220);
  font-size: 20px;
  font-weight: bold;
  color: grey;
  &:hover {
    background-color: rgb(210, 210, 210);
  }
}

.card {
  margin-bottom: 10px;
}
