:host{
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.login{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
}

.title{
    text-align: center;
    font-size: 20px;
}

.invalid{
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    padding: 0 5px;
    border: 1px solid red;
    border-radius: 3px;
    color: red;
}

button{
    width: 100%;
}

.link{
    text-decoration: none;
    color: blue;
    
    &:hover{
        text-decoration: underline;
    }
    &:visited{
        color: blue;
    }
}